.tabs {
  margin-bottom: 24px;
}


.tabs-list {
  background: var(--tabs-color);
  border-radius: 50px;
  margin-bottom: 36px;
  padding: 4px;
  display: inline-flex;
}

.tabs-btn {
  color: var(--tabs-btn-text-color);
  min-width: 151px;
  cursor: pointer;
  background-color: var(--tabs-bg-color);
  border: 2px solid var(--tabs-bg-color);
  border-radius: 500px;
  outline: none;
  padding: 6.5px 40px;
  font-size: 14px;
  font-weight: 500;
}

.tabs-btn__active {
  background: var(--tabs-btn-active);
  border: 2px solid var(--tabs-border-color);
  box-shadow: 0 6px 17px var(--tabs-box-shadow);
}

.tabs-content {
  display: none;
}

.tabs-content__active {
  display: flex;
}